<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%thread][%-5level][%logger] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/File.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/File.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger] %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>
    <!--test1用のファイル出力の設定-->
	<appender name="test1"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/test1.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/Login.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<encoder>
            <charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="test2"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--出力するパス-->
		<file>logs/test2.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/History.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
        <!--ログの出力パターン-->
		<encoder>
            <charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger] %msg%n</pattern>
		</encoder>
	</appender>

    <!--additivityが伝播をなしにする-->
	<logger name="Monitor.test1"
		additivity="false">
		<level value="INFO" />
        <!--appenderの参照名を記入-->
		<appender-ref ref="test1" />
	</logger>
	<logger name="Monitor.test2"
		additivity="false">
		<level value="INFO" />
        <!--appenderの参照名を記入-->
		<appender-ref ref="test2" />
	</logger>

        <!-- 3. 標準ログ出力 -->
	<root level="INFO">
		<!-- コンソールログ -->
		<appender-ref ref="STDOUT" />
		<!-- ファイルログ -->
		<appender-ref ref="FILE" />
	</root>
</configuration>
